/*color
   ========================================================================== */
   @blue: #2196F3;
   @d-blue: #1E88E5;
   @l-blue: #90CAF9;
   @grey: #757575;

   @teal: #009688;
   @l-teal: #4DB6AC;
   @shadow: rgba(0, 0, 0, 0.13);

/* ==========================================================================
styles
   ========================================================================== */

@font-face {
  font-family:'FontAwesome';
  src:url('../fonts/font-awesome/fontawesome-webfont.eot?v=4.0.3');
  src:url('../fonts/font-awesome/font/fontawesome-webfont.eot?#iefix&v=4.0.3') format('embedded-opentype'),
      url('../fonts/font-awesome/font/fontawesome-webfont.woff?v=4.0.3') format('woff'),
      url('../fonts/font-awesome/font/fontawesome-webfont.ttf?v=4.0.3') format('truetype'),
      url('../fonts/font-awesome/font/fontawesome-webfont.svg?v=4.0.3#fontawesomeregular') format('svg');
  font-weight:normal;
  font-style:normal;
}

/* move special fonts to HTML head for better performance */
@import url('http://fonts.googleapis.com/css?family=Open+Sans:200,300,400,600,700');


/* custom template */
html, body {
   height: 100%;
   font-family:'Relaway',arial,sans-serif;
}

a {
  color:#222222;
}

p{
  font-family:'Raleway', sans-serif;
}
.wrapper, .row {
   height: 100%;
   margin-left:0;
   margin-right:0;
}

.wrapper:before, .wrapper:after,
.column:before, .column:after {
    content: "";
    display: table;
}

.wrapper:after,
.column:after {
    clear: both;
}

.column {
    height: 100%;
    overflow: auto;
    *zoom:1;
}

.column .padding {
    padding: 20px;
}

.box {
    bottom: 0; 
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    /*background-image:url('http://lorempixel.com/1024/760/nature/3/');
    background-size:cover;
    background-attachment:fixed;*/
    background-color: @blue;

}

.divider {
    margin-top:32px;
}

#main {
    background-color:#f9f9f9;
}
#main .img-circle {
  margin-top:18px;
  height:70px;
  width:70px;
}

#sidebar{
  padding-top: 100px;
  text-align: right;
  padding-right: 60px;
  border-right: 3px solid @shadow;

}

#sidebar, #sidebar a {
    color:#ffffff;
    background-color:transparent;
    /*text-shadow:1px 0 1px #888888;*/
}

#sidebar .logo img{
    width: 120px;
    border-radius: 100%;
    margin-bottom: 20px;
}

.descrip{
  position: relative;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
}

.descrip span{
  font-weight: bold !important;
  font-size: 20px;
}

.descrip p{
  font-family: "Relaway", "Open Sans";
  font-size: 20px;
}

#sidebar-footer {
  position:absolute;
  bottom:5px;
  text-align: right;
  width: 100%;
  right: 12px;
  padding: 0 60px 50px 0;
}

#sidebar-footer ul{
  padding-left: 0;

}
#sidebar-footer ul li{
  list-style: none;
  padding-left: 10px;
  font-size: 25px;
  display: inline-block;
}

#footer {
  margin-bottom:20px;
}

/* ================center and adjust the sidebar contents on smaller devices */
@media (max-width: 768px) {
  #sidebar,#sidebar a.logo {
    text-align:center !important;
    margin:0 auto;
    margin-top:30px;
    font-size:26px;

  }
  #sidebar a.logo {
    font-size:50px;
    height:75px;
    width:75px;
    margin-bottom:30px;
  }

  #sidebar-footer{
    position: relative !important;
    text-align: center;
    right: 0px;
    padding-right: 0;
  }
  .column{
    height: auto !important;
  }

  #sidebar{
    padding-right: 0;
  }
}

  #sidebar-footer ul li a i {
    padding: 6px;
    border-radius: 100%;

    -webkit-transition: all 0.3s ease;
     transition: all 0.3s ease;
  }
  #sidebar-footer ul li a:hover i{
    background-color: white;
    color: @blue;
  }

    #sidebar-footer ul li #lin:hover{
    color: #1B86BD;
  }

    #sidebar-footer ul li #twt:hover{
    color: #55ACEE;
  }

    #sidebar-footer ul li #gl:hover{
    color: #D6412B;
  }
    #sidebar-footer ul li #gt:hover{
    color: #333;
  }



/* bootstrap overrides */

h1,h2,h3 {
   font-family:'Raleway', sans-serif;
   color: @d-blue;
}

#title p{

  color: @grey;
  font-size: 17px;
}
.jumbotron {
  background-color:transparent;
}
.label-default {
  background-color:#dddddd;
}
.page-header {
  margin-top: 55px;
  padding-top: 9px;
  border-top:1px solid #eeeeee;
  font-weight:700;
  text-transform:uppercase;
  letter-spacing:2px;
}

.col-sm-9.full {
    width: 100%;
}

small.text-muted {
  font-family:courier,courier-new,monospace;
}

.ctrl{
  position: absolute;
  width: 0;
  height: 100%;
  left: 0;
  top: 0;
  background: rgba(0,0,0,0.2);
  visibility: hidden;
}
/*skill bar
   ======================================= */

.pro{
  background-color: @teal;
  padding: 5px;
  position: relative;
  float: left;
  color: white;
  overflow: hidden;
  margin-right: 10px;
  margin-bottom: 10px;
    span{
      color: white;
      position: relative;
      z-index: 100;
      padding: 2px;
    }

}


.br{
  height: 100%;
  position: absolute;
  background-color: @l-teal;
  z-index: 1;
  top: 0;
  right: 0;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
}

/*portfolio
   ======================================= */
.box-portfolio{
  width: 100%;
  background-color: #ccc;
  height: 130px;
  width: 100%;
  margin-bottom: 10px;
  overflow: hidden;
  position: relative;

  -webkit-box-shadow: -1px 3px 5px 0px rgba(50, 50, 50, 0.32);
  -moz-box-shadow:    -1px 3px 5px 0px rgba(50, 50, 50, 0.32);
  box-shadow:         -1px 3px 5px 0px rgba(50, 50, 50, 0.32);
}

.lp{
  color: #000 !important;
  position: absolute;
  z-index: 1000;
  margin: 10px;
  right: 1px;
  /*top: -60px;*/
  /*
  transition: all 0.3s cubic-bezier(0,-0.13,1,-0.23);
  -webkit-transition: all 0.3s cubic-bezier(0,-0.13,1,-0.23);
  */
  transition: all 0.3s linear;
  -webkit-transition: all 0.3s linear;
  -webkit-transform: scale(0); 
    transform: scale(0);
   a{
    color: white;
   }
}

.lp a i{
  background-color: @blue;
  padding: 13px;
  border-radius: 100px;
  font-size: 21px;
  transition: all 0.2s ease;
 -webkit-transition: all 0.2s ease;
  -webkit-box-shadow: -1px 3px 5px 0px rgba(50, 50, 50, 0.32);
  -moz-box-shadow:    -1px 3px 5px 0px rgba(50, 50, 50, 0.32);
  box-shadow:         -1px 3px 5px 0px rgba(50, 50, 50, 0.32);

}

.box-portfolio:hover .lp{
  top: 5px;
  -webkit-transform: scale(1); 
    transform: scale(1);
}

.box-descrip{
  position: absolute;
  color: @blue;
  z-index: 100;
  padding: 0px 20px 10px;
  text-align: left;
  margin-top: 36px;
  background-color: @d-blue;
  width: 100%;
  height: 100%;
  top: 56px;
    transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
    h4{
      color: #fff;
      transition: all 0.4s ease;
      -webkit-transition: all 0.4s ease;
    }
    p{
      color: @grey;
    }
}

.box-portfolio:hover .box-descrip{
  top: 0;
  background-color: #fff;
    h4{
      color: @d-blue;
      background-color: transparent;
    }
}

.ps{
  position: relative;
  float: right;
}

.box-portfolio img{
  width: 900px;
  transition: all 0.2s linear;
  -webkit-transition: all 0.2s linear;

}

.box-portfolio:hover img{
  width: 100% !important;
}

.back-sw{
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.20);
  transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
}

.box-portfolio:hover .back-sw{
  background-color: transparent;
}

@media (max-width: 800px) {
.box-portfolio{

 }
}

@media (max-width: 800px) {
#sidebar{
  border-bottom: 3px solid @d-blue !important;
  border-right: 0 !important;
 }
}
/* modal
   ======================================= */
   .overlay-box{
    background-color: #fff;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10000;
    display: none;

   }
.btn-vr{
  cursor: pointer;

}

.over-img{
  width: 100%;
  height: 200px;
  /*background-image:url('../images/misc/work1.jpg');
  background-size: cover;*/
  background-color: @blue;
}
.over-lp a{
  color:#fff;
}

.flot{
  float: right;
}

@media (max-width: 900px) {
.over-lp a i{
  position: fixed !important;
  right: 1px;
  margin-right: 20px;
}
}
.over-lp a i{
  background-color: #F44336;
  padding: 13px;
  border-radius: 100px;
  font-size: 21px;
  position: relative;
  bottom: 22px;
  transition: all .2s ease;
  -webkit-transition: all .2s ease;
  box-shadow: -1px 3px 5px 0 rgba(50,50,50,.32);
}
.fl{
  position: relative;
  float: right;
}
.lp2{
  height: 0px;
  z-index: 100;
  position: relative;
  margin-right: 50px;
}

.lp2 a i{
  background-color: #fff;
  padding: 13px;
  border-radius: 100px;
  font-size: 21px;
  color: @blue;
  position: relative;
  bottom: 22px;
  box-shadow: -1px 3px 5px 0 rgba(50,50,50,.32);

  opacity: 0;
  -webkit-transform: scale(0);
            transform: scale(0);

  -webkit-animation-name: lpanim;
          animation-name: lpanim;
          animation-duration:0.2s;
          -webkit-animation-duration:0.2s;
      animation-fill-mode:forwards;
      -webkit-animation-fill-mode: forwards;
      animation-delay: 0.5s;
      -webkit-animation-delay: 0.5s; 
}


@-webkit-keyframes lpanim {
  0% {
    opacity: 0;
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes boxUp {
  0% {
   -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

/* ng-animate 
   ======================================= */
.ng-enter, .ng-leave{position: absolute;}
.ng-enter { z-index: 8888; }
.ng-leave{ z-index: 9999; }

.ng-enter{ 
  animation: fadeIn  0.3s linear; z-index: 8888; 
}
.ng-leave{ 
  animation: fadeOut  0.3s linear; z-index: 9999;

}

/* porfolio details 
   ======================================= */
   .portfolio{
    padding-bottom: 30px;
   }
  .wrap{
    margin: 88px 30px 30px 30px;

  }
   .portfolio-details img{
      width: 100%;
   }

   .port-title{
    background-color: @blue;
    position: relative;
    padding: 10px 30px;
    color: white !important;
   }

     .port-title h3{
      color: white;
     }
.port-img-view {
  background-size: cover;
  /*height: 300px;*/
  overflow-x: hidden;
  height: 1px;
  opacity: 0;
  width: 100%;

  -webkit-animation-name: boxUp;
  animation-name: boxUp;
  animation-duration:0.4s;
  -webkit-animation-duration:0.4s;
  animation-fill-mode:forwards;
  -webkit-animation-fill-mode: forwards;
  animation-delay: 0.1s;
  -webkit-animation-delay: 0.1s;

@-webkit-keyframes boxUp {
  0% {
    opacity: 0;
    height: 0px;
  }
  100% {
    opacity: 1;
    height: 500px;
  }
}

@keyframes boxUp {
  0% {
    opacity: 0;
    top: 0px;
  }
  100% {
    opacity: 1;
    top: 500px;
  }
}
}


.port-img-view img{
  width: 100%;
}

/*=========================================*/
     
@media only screen and (min-width: 360px) and (max-width: 768px){
   #sidebar .logo img{
    width: 61px !important;
   }
   #sidebar a.logo{
    float: left;
    margin-top: 9px;
   }

   #sidebar{
    padding-top: 5px;
    background-color: #1e88e5;
    overflow: hidden;
    position: relative;
    z-index: 10000;
    margin-top: 1px;
   }

   nav{
    font-size: 16px;
   }

   nav ul {
    list-style: none;
    padding: 0;
   }
   nav ul li{
    display: inline-block;
    margin-left: 5px;
   }
   #sidebar-footer{
    display: none;
   }
   .port-img-view img{
    height: 100%;
    width: auto;
    text-align: center;
   }

   .box{
    background-color: white;
   }
}

@media only screen and (min-width: 360px) and (max-width: 1190px){
  .port-img-view img{
    height: 100%;
    width: auto;
    text-align: center;
   }
}