        <div class="wrap">
             <div class="col-md-8">
                                <div id="title">
                                    <h2>works</h2>
                                     <p>Recopilación de proyectos en los que he trabajado, alguno puede ser propio o experimentos para probar cosas diferentes.</p>
                                </div>
                              </div>
                              <div class="clearfix"></div>
                              <hr> 
             <div class="portfolio" ng-controller="PortfolioController">
                            
                                             
                                <div class="col-md-6" ng-repeat="prt in portlist">

                                    <div class="box-portfolio">
                                            <div class="ps">
                                                <div class="lp"><a href="#/portfolio/{{ prt.id }}"><i class="fa fa-search"></i></a></div>
                                            </div>
                                            <div class="box-descrip">
                                                    <h4>{{prt.title}}</h4>
                                                    <p>{{prt.skill}}</p>
                                            </div>
                                        <div class="back-sw"></div>                                      
                                         <img ng-src="images/misc/{{prt.img}}" alt="">
                                    </div>

                                </div>

              </div>
              <div class="clearfix"></div>
         </div>       