<div class="bt t1">
	
</div>     
                           <div class="wrap">
                           <div class="col-md-8">
                                <div id="title">
                                    <h2>Acerca de mí</h2>
                                     <p>Hola. Me apasiona mucho crear y aprender muchas cosas, en especial si se trata de diseño y programación web</p>
                                     <p>Estoy en busca de ser parte de los mejores equipos de trabajo donde pueda aportar mis conocimientos en desarrollo y diseño web actualizando                                         constantemente en estas tecnologias, cumpliendo los estandares e implementar soluciones.</p> 
                                </div>
                              </div>
                          </div>    