<div class="portfolio">
    <h3>Latest Works</h3>
                                <div class="col-md-6">
                                    <div class="box-portfolio">
                                        <div class="ps">
                                            <div class="lp"><a href="#"><i class="fa fa-search-plus"></i></a></div>
                                        </div>
                                            <div class="box-descrip">
                                                <h4>Bitacora-Territorio.com</h4>
                                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam earu</p>
                                        </div>
                                        <div class="back-sw"></div>                                       
                                        <img src="images/misc/work1.jpg" alt="">
                                    </div>
                                    
                                </div>
                                <div class="col-md-6">
                                    <div class="box-portfolio">
                                        <div class="ps">
                                            <div class="lp"><a href="#"><i class="fa fa-search-plus"></i></a></div>
                                        </div>
                                            <div class="box-descrip">
                                                <h4>SmileHD.com</h4>
                                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam earu</p>
                                        </div>
                                        <div class="back-sw"></div>                                       
                                        <img src="images/misc/work2.jpg" alt="">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="box-portfolio">
                                        <div class="ps">
                                            <div class="lp"><a href="#"><i class="fa fa-search-plus"></i></a></div>
                                        </div>
                                            <div class="box-descrip">
                                                <h4>SmileHD.com</h4>
                                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam earu</p>
                                        </div>
                                        <div class="back-sw"></div>                                       
                                        <img src="images/misc/work3.jpg" alt="">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="box-portfolio">
                                        <div class="ps">
                                            <div class="lp"><a href="#"><i class="fa fa-search-plus"></i></a></div>
                                        </div>
                                            <div class="box-descrip">
                                                <h4>SmileHD.com</h4>
                                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam earu</p>
                                        </div>
                                        <div class="back-sw"></div>                                       
                                        <img src="images/misc/work4.jpg" alt="">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="box-portfolio">
                                        <div class="ps">
                                            <div class="lp"><a href="#"><i class="fa fa-search-plus"></i></a></div>
                                        </div>
                                            <div class="box-descrip">
                                                <h4>SmileHD.com</h4>
                                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam earu</p>
                                        </div>
                                        <div class="back-sw"></div>                                       
                                        <img src="images/misc/work5.jpg" alt="">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="box-portfolio">
                                        <div class="ps">
                                            <div class="lp"><a href="#"><i class="fa fa-search-plus"></i></a></div>
                                        </div>
                                            <div class="box-descrip">
                                                <h4>SmileHD.com</h4>
                                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam earu</p>
                                        </div>
                                        <div class="back-sw"></div>                                       
                                        <img src="images/misc/work6.jpg" alt="">
                                    </div>
                                </div>
            </div>