
                <div class="portfolio" ng-controller="portfolio">
                    <h3>Latest Works</h3>
                                <div class="col-md-6" ng-repeat="prt in portlist">
                                    <div class="box-portfolio">
                                            <div class="ps">
                                                <div class="lp"><a href="#/{{ prt.id }}"><i class="fa fa-chevron-down"></i></a></div>
                                            </div>
                                            <div class="box-descrip">
                                                    <h4>{{prt.title}}</h4>
                                                    <p>{{ prt.id }}</p>
                                                    <p>{{prt.descrip}}</p>
                                            </div>
                                        <div class="back-sw"></div>                                       
                                        <img ng-src="images/misc/{{prt.img}}" alt="">
                                    </div>
                                </div>
                         </div>