                                <div class="skills" ng-controller="skillList1">
                         
                                    <h3>My Skills 123</h3>
                                     <!-- skills1-->
                                    <div class="pro" ng-repeat="sk in skills">
                                        <span>{{sk.skill}}</span>
                                        <div class="br" style="width:{{sk.perct}}%;"></div>
                                    </div>

                                    <div class="clearfix"></div>
                                    <hr>
                                    <!-- skills2-->
                                    <div class="pro" ng-repeat="sk in skills2">
                                        <span>{{sk.skill}}</span>
                                        <div class="br" style="width:{{sk.perct}}%;"></div>
                                    </div>

                                    <div class="clearfix"></div>
                                    <hr>
                                    <!-- skills3-->
                                    <div class="pro" ng-repeat="sk in skills3">
                                        <span>{{sk.skill}}</span>
                                        <div class="br" style="width:{{sk.perct}}%;"></div>
                                    </div>

                                </div><!-- end skills controller-->